<!DOCTYPE html>
<html lang="en">

<head>
    <!--  Basic metas -->
    <title>ITF &#8212; Виртуальный сервер по низким ценам / Аудит IT инфраструктуры и оптимизация / Аренда 1С</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Fonts & favicons -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <!-- Header -->
    {% include "templates/header.html" %}
    <!-- Content -->
    <!-- Footer -->
    {% include "templates/footer.html" %}
    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="assets/js/common.js"></script>
</body>

</html>